body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.MuiFormLabel-root.Mui-focused {
  color:gray  !important;
}

.MuiTooltip-tooltip {
  font-size: 12px !important;
  color: white !important;
}
